<h1>Question</h1>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @questions %>
</table>

<p><%= link_to 'New question', new_test_question_path %></p>
<p><%= link_to 'Back', test_path(@test) %></p>
