<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.testguru_admin_panel') %></span>

  <div class="nav-admin user">
    <%= t('.welcome', name: current_user.name) %> [<%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>]
  </div>
</div>
