<p><%= current_year %> Алексей Пехов <%= github_url("Pekhov", "TestGuru") %> - Прохождение тестов. <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com', target: '_blank' %></p>
