<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= link_to 'Show', test_path(test) %></td>
  <td><%= link_to "Show questions(#{test.questions.count})", test_questions_path(test) %></td>
</tr>
